*{
    margin: 0;
    padding: 0;
    
}
.container
{
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.header{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}
.image{
   padding: 10px;
   margin: 10px;
  
}

.image__input{
    
    padding: 5px;
    width: 200px;
    height: 300px;
    margin: 10px;
    display:inline-block;
    text-align:center;
    border: solid black 2px;
    

}
.image__input img{
   
    width: 200px;
    height: 200px;}

.image__input button{
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 0;
    border: solid orange;
    border-radius: 10px;
    width: fit-content;

}
button:hover{
    background-color: orangered;
}
.form{
    background-color: black;
    color: white;
   padding: 10px;
   margin: 10px;
    text-align: center;
    
    
}
.form_table{
 
}
.form button{
    background-color: yellow;
    width: 215px;
}